*.txt.py
*.html.py
reports/
/static
docs/_build/
heimdall/settings.py
heimdall/settings_*.py
celerybeat.pid
database/
core/static/core/uploads/
/src/
gen_settings_wrapper.sh
populate_db_wrapper.sh
*.pstat
beat.timestamp
heimdall/settings/auto/test_runner.py
heimdall/settings/components/searching.py

heimdall/settings/flags/secret_key.py
heimdall/settings/components/database.py

api/migrations/*
